{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <p>Your username or password is invalid, Please try again</p>
    {% endif  %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{form.username.label_tag}}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{form.password.label_tag}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Login">
        <p>Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
    </form>
{% endblock %}
